# packages in environment at /home/lwubf/anaconda3/envs/nnunet:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                        main  
absl-py                   2.1.0                     <pip>
ca-certificates           2023.12.12           h06a4308_0  
certifi                   2022.12.7                 <pip>
charset-normalizer        2.1.1                     <pip>
cmake                     3.25.0                    <pip>
contourpy                 1.2.0                     <pip>
cycler                    0.12.1                    <pip>
einops                    0.7.0                     <pip>
elasticdeform             0.5.0                     <pip>
filelock                  3.9.0                     <pip>
fonttools                 4.50.0                    <pip>
fsspec                    2024.2.0                  <pip>
grpcio                    1.62.0                    <pip>
huggingface-hub           0.21.4                    <pip>
idna                      3.4                       <pip>
importlib-metadata        7.0.1                     <pip>
importlib_resources       6.4.0                     <pip>
inquirerpy                0.3.4                     <pip>
Jinja2                    3.1.2                     <pip>
kiwisolver                1.4.5                     <pip>
ld_impl_linux-64          2.38                 h1181459_1  
libffi                    3.3                  he6710b0_2  
libgcc-ng                 9.1.0                hdf63c60_0  
libstdcxx-ng              9.1.0                hdf63c60_0  
lit                       15.0.7                    <pip>
Markdown                  3.5.2                     <pip>
MarkupSafe                2.1.5                     <pip>
matplotlib                3.8.3                     <pip>
monai                     1.3.0                     <pip>
mpmath                    1.3.0                     <pip>
ncurses                   6.3                  h7f8727e_2  
networkx                  3.2.1                     <pip>
nibabel                   5.2.0                     <pip>
numpy                     1.26.4                    <pip>
opencv-python             4.9.0.80                  <pip>
openssl                   1.1.1w               h7f8727e_0  
packaging                 23.2                      <pip>
pfzy                      0.3.4                     <pip>
pillow                    10.2.0                    <pip>
pip                       23.3.1           py39h06a4308_0  
prompt-toolkit            3.0.43                    <pip>
protobuf                  4.25.3                    <pip>
pyparsing                 3.1.2                     <pip>
python                    3.9.12               h12debd9_1  
python-dateutil           2.9.0.post0               <pip>
PyYAML                    6.0.1                     <pip>
readline                  8.1.2                h7f8727e_1  
requests                  2.28.1                    <pip>
scipy                     1.12.0                    <pip>
setuptools                68.2.2           py39h06a4308_0  
SimpleITK                 2.0.2                     <pip>
six                       1.16.0                    <pip>
sqlite                    3.38.5               hc218d9a_0  
sympy                     1.12                      <pip>
tensorboard               2.16.2                    <pip>
tensorboard-data-server   0.7.2                     <pip>
tensorboardX              2.6.2.2                   <pip>
tk                        8.6.12               h1ccaba5_0  
torch                     2.0.1+cu118               <pip>
torchaudio                2.0.2+cu118               <pip>
torchvision               0.15.2+cu118              <pip>
tqdm                      4.66.2                    <pip>
triton                    2.0.0                     <pip>
typing_extensions         4.8.0                     <pip>
tzdata                    2024a                h04d1e81_0  
urllib3                   1.26.13                   <pip>
wcwidth                   0.2.13                    <pip>
Werkzeug                  3.0.1                     <pip>
wheel                     0.41.2           py39h06a4308_0  
xz                        5.2.5                h7f8727e_1  
zipp                      3.17.0                    <pip>
zlib                      1.2.12               h7f8727e_2  
